<p>HOLA <%= @resource.email %>!</p>

<p>Se ha creado este correo para recuperar la constraseña. Puede realizarlo ahora a través del siguiente link</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no haz sido por favor ignora este correo.</p>
<p>Su contraseña no cambiará hasta que ingrese en el link.</p>
